# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/

# Virtual environments
algothon.venv/
.venv/
venv/
env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS artefacts
.DS_Store
Thumbs.db

logs/*
